@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
 }
 :root
 {
 	--bg-color: #fff;
	--text-color: #020312;
	--main-color: #eb4a4a;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
 }
 body
 {
	background: var(--bg-color);
	color: var(--second-color);
	list-style: none;
    text-decoration: none;
 }
 .container
 {
 	display: flex;
 	position: absolute;
 	justify-content: center;
 	align-content: center;
 	padding-left: 40rem;
 	padding-top: 1rem;
 }
 .box
 {  
    position: absolute;
 	display: flex;
 	justify-content: center;
 	width: 40rem;
 	height: 45rem;
 	border: 1px solid #fff;
    box-shadow: 55px 55px 55px 55px #5557;
	border-radius: 13px;
	overflow: hidden;
 }
 .side
 {  
 	width: 20rem;
 	height: 45rem;
 	margin-right: 25rem;
   background: var(--other-color);
 }
 .side img
 {
 	width: 150px;
 	height: 150px;
 	margin-left: 40px;
 	margin-top: 5px;
 	background: #fff;
 	overflow: hidden;
 	border-radius: 80%;
 }
.side h3
{
	font-family: 'Nunito-light.ttf';
}
span h2
{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
	margin-top: 10px;
	font-family: Nunito-Regular.ttf;
	background: yellow;
	margin-left: 40px;
}
.social
{
	margin: 40px -10px 80px;
    height: 50px;
    padding-top: 20px;
}
.social a 
{   display: list-item;
    margin: 0px 0px 0px 20px;
    padding: 20px;
    color: #fff;
    width: 10px;
    height: 30px;
    text-decoration: none;
}
.information
{  
   position: absolute;
   margin-left: 40px;
   justify-content: center;
   align-content: center;
   padding-left: 90px;
}
.information h1
{ 
	position: relative;
   font-size: 1.5rem;
   letter-spacing: 0.7rem;
   margin: 10px;
   left: 20px;
}
.information .info h4
{  display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   height: 20px
}
.information span
{
	background: blue;
}
h1
{
    text-align: center;
}
h3
{
    margin: 1px;
}
.progress
{  
    width: 80%;
    margin: 10px        ;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.progress li 
{
    margin: 20px;
    padding: 0.5px;
}
.bar
{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover
{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span
{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}
.html
{
    width: 90%;
    animation: html 3s;
}
.css
{
    width: 60%;
    animation: css 3s;
}
.javascript
{
    width: 30%;
    animation: javascript 3s;
}
.anglais
{
    width: 80%;
    animation: anglais 3s;
}
@keyframes html
{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css
{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript
{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes anglais
{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}